$btn-prefix-cls: sparrow-btn;

.#{$btn-prefix-cls} {
  //   background: #1462ff;
  --button-color: #0f75ae;
  --button-text-color: #fafbfc;
  --semi-blue-6: 0, 98, 214;
  --semi-blue-5: 0, 100, 250;
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  // box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border: 1px solid var(--button-color);
  background-color: rgba(var(--semi-blue-5), 1);
  color: var(--button-text-color);
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // &:hover {
  //   background-color: rgba(var(--semi-blue-6), 1);
  // }
  &-secondary {
    background-color: rgb(0, 119, 250);
    border: 1px solid var(--button-color);
  }

  &-third {
  }

  // type="danger" will deprecated
  // use danger instead
  &-danger {
    background-color: #ff0054;
    border: 1px solid #ff0054;
  }

  &-warning {
    background-color: #ffbd00;

    border: 1px solid #ffbd00;
  }
}
